<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Product Management</title>

  <style>
    /* Sidebar styles */
    .sidebar {
      height: 100vh;
      position: fixed;
      padding-top: 150px;
      width: 200px;
    }
    .content {
      margin-left: 220px;
      padding: 100px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark w-100">
  <div class="navbar-nav ms-auto">
    <div class="dropdown">
      <button class="btn btn-secondary bg-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        [USERNAME]
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="#">LOGIN</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">LOGOUT</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">PROFIL</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<div class="sidebar bg-dark">
  <!-- Order Section -->
  <div class="dropdown">
    <button class="btn btn-secondary bg-dark dropdown-toggle w-100" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
      ORDER
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
      <li><a class="dropdown-item" routerLink="add-product">ADD</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="products-list">LIST</a></li>
    </ul>
  </div>

  <!-- Product Section -->
  <div class="dropdown">
    <button class="btn btn-secondary bg-dark dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      PRODUCT
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="add-product">ADD</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="products-list">LIST</a></li>
    </ul>
  </div>

  <!-- Customer Section -->
  <div class="dropdown">
    <button class="btn btn-secondary bg-dark dropdown-toggle w-100" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
      CUSTOMER
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
      <li><a class="dropdown-item" routerLink="add-product">ADD</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="products-list">LIST</a></li>
    </ul>
  </div>
</div>

<!-- Content Area -->
<div class="content">
  <router-outlet></router-outlet>
</div>

</body>
</html>
